In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import display
from tqdm import tqdm_notebook as tqdm
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

aisles.csv
departments.csv
order_products__prior.csv
order_products__train.csv
orders.csv
products.csv
sample_submission.csv

In [3]:
order_products_train_df = pd.read_csv("../input/order_products__train.csv")
order_products_prior_df = pd.read_csv("../input/order_products__prior.csv")
orders_df = pd.read_csv("../input/orders.csv")
products_df = pd.read_csv("../input/products.csv")
aisles_df = pd.read_csv("../input/aisles.csv")
departments_df = pd.read_csv("../input/departments.csv")

In [28]:
display(orders_df[orders_df['user_id'] == 1])
display(orders_df[orders_df['user_id'] == 3])

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
30,2710558,3,prior,5,0,17,12.0
31,1972919,3,prior,6,0,16,7.0
32,1839752,3,prior,7,0,15,7.0
33,3225766,3,prior,8,0,17,7.0
34,3160850,3,prior,9,0,16,7.0
35,676467,3,prior,10,3,16,17.0
36,521107,3,prior,11,0,18,11.0
37,1402502,3,prior,12,1,15,15.0
38,2774568,3,test,13,5,15,11.0

In [7]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [9]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [10]:
order_products_train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [11]:
order_products_prior_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_train = pd.merge(order_products_train_df, orders_df, how='left', on='order_id')
df_train = pd.merge(df_train, products_df, how='left', on='product_id')
df_train = pd.merge(df_train, aisles_df, how='left', on='aisle_id')
df_train = pd.merge(df_train, departments_df, how='left', on='department_id')
print(df_train.shape)
df_train.to_csv('../input/df_train.csv', index=False)
df_train.head()

(1384617, 15)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,aisle,department
0,1,49302,1,1,112108,train,4,4,10,9.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1,1,11109,2,1,112108,train,4,4,10,9.0,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,other creams cheeses,dairy eggs
2,1,10246,3,0,112108,train,4,4,10,9.0,Organic Celery Hearts,83,4,fresh vegetables,produce
3,1,49683,4,0,112108,train,4,4,10,9.0,Cucumber Kirby,83,4,fresh vegetables,produce
4,1,43633,5,1,112108,train,4,4,10,9.0,Lightly Smoked Sardines in Olive Oil,95,15,canned meat seafood,canned goods

In [23]:
df_train[df_train['user_id'] == 1]

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
484420,1187899,196,1,1,1,train,11,4,8,14.0
484421,1187899,25133,2,1,1,train,11,4,8,14.0
484422,1187899,38928,3,1,1,train,11,4,8,14.0
484423,1187899,26405,4,1,1,train,11,4,8,14.0
484424,1187899,39657,5,1,1,train,11,4,8,14.0
484425,1187899,10258,6,1,1,train,11,4,8,14.0
484426,1187899,13032,7,1,1,train,11,4,8,14.0
484427,1187899,26088,8,1,1,train,11,4,8,14.0
484428,1187899,27845,9,0,1,train,11,4,8,14.0
484429,1187899,49235,10,1,1,train,11,4,8,14.0
484430,1187899,46149,11,1,1,train,11,4,8,14.0

In [5]:
df_prior = pd.merge(order_products_prior_df, orders_df, how='left', on='order_id')
df_prior = pd.merge(df_prior, products_df, how='left', on='product_id')
df_prior = pd.merge(df_prior, aisles_df, how='left', on='aisle_id')
df_prior = pd.merge(df_prior, departments_df, how='left', on='department_id')
print(df_prior.shape)
df_prior.to_csv('../input/df_prior.csv', index=False)
df_prior.head()

(32434489, 15)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,aisle,department
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,eggs,dairy eggs
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,fresh vegetables,produce
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,spices seasonings,pantry
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,oils vinegars,pantry
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,baking ingredients,pantry

In [36]:
df_prior[df_prior['user_id'] == 1].sort_values('order_number')

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
24076668,2539329,26405,5,0,1,prior,1,2,8,NaN
24076667,2539329,26088,4,0,1,prior,1,2,8,NaN
24076666,2539329,12427,3,0,1,prior,1,2,8,NaN
24076665,2539329,14084,2,0,1,prior,1,2,8,NaN
24076664,2539329,196,1,0,1,prior,1,2,8,NaN
22742744,2398795,196,1,1,1,prior,2,3,7,15.0
22742749,2398795,13032,6,0,1,prior,2,3,7,15.0
22742748,2398795,26088,5,1,1,prior,2,3,7,15.0
22742745,2398795,10258,2,0,1,prior,2,3,7,15.0
22742746,2398795,12427,3,1,1,prior,2,3,7,15.0
22742747,2398795,13176,4,0,1,prior,2,3,7,15.0
4488099,473747,30450,5,0,1,prior,3,3,12,21.0
4488097,473747,10258,3,1,1,prior,3,3,12,21.0
4488096,473747,12427,2,1,1,prior,3,3,12,21.0
4488095,473747,196,1,1,1,prior,3,3,12,21.0
4488098,473747,25133,4,0,1,prior,3,3,12,21.0
21376075,2254736,12427,2,1,1,prior,4,4,7,29.0
21376078,2254736,26405,5,1,1,prior,4,4,7,29.0
21376077,2254736,25133,4,1,1,prior,4,4,7,29.0
21376074,2254736,196,1,1,1,prior,4,4,7,29.0
21376076,2254736,10258,3,1,1,prior,4,4,7,29.0
4089398,431534,196,1,1,1,prior,5,4,15,28.0
4089399,431534,12427,2,1,1,prior,5,4,15,28.0
4089400,431534,10258,3,1,1,prior,5,4,15,28.0
4089401,431534,25133,4,1,1,prior,5,4,15,28.0
4089402,431534,10326,5,0,1,prior,5,4,15,28.0
4089403,431534,17122,6,0,1,prior,5,4,15,28.0
4089404,431534,41787,7,0,1,prior,5,4,15,28.0
4089405,431534,13176,8,1,1,prior,5,4,15,28.0
31927073,3367565,25133,4,1,1,prior,6,2,7,19.0
31927071,3367565,12427,2,1,1,prior,6,2,7,19.0
31927070,3367565,196,1,1,1,prior,6,2,7,19.0
31927072,3367565,10258,3,1,1,prior,6,2,7,19.0
5212931,550135,13032,5,1,1,prior,7,1,9,20.0
5212930,550135,25133,4,1,1,prior,7,1,9,20.0
5212928,550135,10258,2,1,1,prior,7,1,9,20.0
5212929,550135,12427,3,1,1,prior,7,1,9,20.0
5212927,550135,196,1,1,1,prior,7,1,9,20.0
29474810,3108588,49235,6,0,1,prior,8,1,14,14.0
29474809,3108588,46149,5,0,1,prior,8,1,14,14.0
29474808,3108588,25133,4,1,1,prior,8,1,14,14.0
29474807,3108588,10258,3,1,1,prior,8,1,14,14.0
29474806,3108588,196,2,1,1,prior,8,1,14,14.0
29474805,3108588,12427,1,1,1,prior,8,1,14,14.0
21760448,2295261,12427,6,1,1,prior,9,1,16,0.0
21760447,2295261,10258,5,1,1,prior,9,1,16,0.0
21760446,2295261,196,4,1,1,prior,9,1,16,0.0
21760445,2295261,25133,3,1,1,prior,9,1,16,0.0
21760443,2295261,49235,1,1,1,prior,9,1,16,0.0
21760444,2295261,46149,2,1,1,prior,9,1,16,0.0
24181272,2550362,35951,7,0,1,prior,10,4,8,30.0
24181273,2550362,13032,8,1,1,prior,10,4,8,30.0
24181271,2550362,10258,6,1,1,prior,10,4,8,30.0
24181270,2550362,25133,5,1,1,prior,10,4,8,30.0
24181269,2550362,38928,4,0,1,prior,10,4,8,30.0
24181268,2550362,39657,3,0,1,prior,10,4,8,30.0
24181267,2550362,46149,2,1,1,prior,10,4,8,30.0
24181274,2550362,12427,9,1,1,prior,10,4,8,30.0
24181266,2550362,196,1,1,1,prior,10,4,8,30.0

In [3]:
_df = pd.read_csv('../data/dmt_train_only_rebuy/data000000000000.csv.gz')
df = _df.head()

In [6]:
df.columns.values

array(['target', 'o_user_id', 'p_aisle_id', 'o_product_id', 'o_order_id',
       'o_order_number', 'o_order_dow', 'o_order_hour_of_day',
       'o_days_since_prior_order', 'o_cum_days', 'l_cum_days',
       'u_u1_user_id', 'u_u1_user_item_cnt', 'u_u1_user_prd_cnt',
       'u_u1_user_depart_cnt', 'u_u1_user_aisle_cnt',
       'u_u1_user_order_cnt', 'u_u1_user_order_rate',
       'u_u1_max_order_number', 'u_u1_avg_days_since_prior_order',
       'u_u1_max_days_since_prior_order',
       'u_u1_min_days_since_prior_order', 'u_u1_avg_reordered',
       'u_u2_user_id', 'u_u2_order_dow_0', 'u_u2_order_dow_1',
       'u_u2_order_dow_2', 'u_u2_order_dow_3', 'u_u2_order_dow_4',
       'u_u2_order_dow_5', 'u_u2_order_dow_6', 'u_u3_user_id',
       'u_u3_order_hour_of_day_0', 'u_u3_order_hour_of_day_1',
       'u_u3_order_hour_of_day_2', 'u_u3_order_hour_of_day_3',
       'u_u3_order_hour_of_day_4', 'u_u3_order_hour_of_day_5',
       'u_u3_order_hour_of_day_6', 'u_u3_order_hour_of_day_7',
       'u_u3_order_hour_of_day_8', 'u_u3_order_hour_of_day_9',
       'u_u3_order_hour_of_day_10', 'u_u3_order_hour_of_day_11',
       'u_u3_order_hour_of_day_12', 'u_u3_order_hour_of_day_13',
       'u_u3_order_hour_of_day_14', 'u_u3_order_hour_of_day_15',
       'u_u3_order_hour_of_day_16', 'u_u3_order_hour_of_day_17',
       'u_u3_order_hour_of_day_18', 'u_u3_order_hour_of_day_19',
       'u_u3_order_hour_of_day_20', 'u_u3_order_hour_of_day_21',
       'u_u3_order_hour_of_day_22', 'u_u3_order_hour_of_day_23',
       'u_u4_user_id', 'u_u4_department_id_1', 'u_u4_department_id_2',
       'u_u4_department_id_3', 'u_u4_department_id_4',
       'u_u4_department_id_5', 'u_u4_department_id_6',
       'u_u4_department_id_7', 'u_u4_department_id_8',
       'u_u4_department_id_9', 'u_u4_department_id_10',
       'u_u4_department_id_11', 'u_u4_department_id_12',
       'u_u4_department_id_13', 'u_u4_department_id_14',
       'u_u4_department_id_15', 'u_u4_department_id_16',
       'u_u4_department_id_17', 'u_u4_department_id_18',
       'u_u4_department_id_19', 'u_u4_department_id_20',
       'u_u4_department_id_21', 'u_u5_user_id', 'u_u5_order_cnt',
       'u_u5_avg_days_since_prior_order',
       'u_u5_max_days_since_prior_order',
       'u_u5_min_days_since_prior_order', 'i_i1_product_id',
       'i_i1_item_user_cnt', 'i_i1_item_usr_cnt', 'i_i1_item_depart_cnt',
       'i_i1_item_aisle_cnt', 'i_i1_item_order_cnt',
       'i_i1_item_order_rate', 'i_i1_avg_item_days_since_prior_order',
       'i_i1_min_item_days_since_prior_order',
       'i_i1_max_item_days_since_prior_order', 'i_i1_avg_item_reordered',
       'i_i2_product_id', 'i_i2_order_dow_0', 'i_i2_order_dow_1',
       'i_i2_order_dow_2', 'i_i2_order_dow_3', 'i_i2_order_dow_4',
       'i_i2_order_dow_5', 'i_i2_order_dow_6', 'i_i3_product_id',
       'i_i3_order_hour_of_day_0', 'i_i3_order_hour_of_day_1',
       'i_i3_order_hour_of_day_2', 'i_i3_order_hour_of_day_3',
       'i_i3_order_hour_of_day_4', 'i_i3_order_hour_of_day_5',
       'i_i3_order_hour_of_day_6', 'i_i3_order_hour_of_day_7',
       'i_i3_order_hour_of_day_8', 'i_i3_order_hour_of_day_9',
       'i_i3_order_hour_of_day_10', 'i_i3_order_hour_of_day_11',
       'i_i3_order_hour_of_day_12', 'i_i3_order_hour_of_day_13',
       'i_i3_order_hour_of_day_14', 'i_i3_order_hour_of_day_15',
       'i_i3_order_hour_of_day_16', 'i_i3_order_hour_of_day_17',
       'i_i3_order_hour_of_day_18', 'i_i3_order_hour_of_day_19',
       'i_i3_order_hour_of_day_20', 'i_i3_order_hour_of_day_21',
       'i_i3_order_hour_of_day_22', 'i_i3_order_hour_of_day_23',
       'i_i4_product_id', 'i_i4_department_id_1', 'i_i4_department_id_2',
       'i_i4_department_id_3', 'i_i4_department_id_4',
       'i_i4_department_id_5', 'i_i4_department_id_6',
       'i_i4_department_id_7', 'i_i4_department_id_8',
       'i_i4_department_id_9', 'i_i4_department_id_10',
       'i_i4_department_id_11', 'i_i4_department_id_12',
       'i_i4_department_id_13', 'i_i4_department_id_14',
       'i_i4_department_id_15', 'i_i4_department_id_16',
       'i_i4_department_id_17', 'i_i4_department_id_18',
       'i_i4_department_id_19', 'i_i4_department_id_20',
       'i_i4_department_id_21', 'ui_user_id', 'ui_product_id',
       'ui_cnt_user_item', 'ui_cnt_user_order', 'ui_max_reordered',
       'ui_sum_reordered', 'ui_avg_reordered',
       'ui_avg_days_since_prior_order', 'ui_max_days_since_prior_order',
       'ui_min_days_since_prior_order', 'la_user_id', 'la_aisle_id',
       'la_max_order_number', 'la_o_order_id', 'la_cum_days', 'ua_user_id',
       'ua_aisle_id', 'ua_cnt_user_aisle', 'ua_cnt_aisle_order',
       'ua_max_reordered', 'ua_sum_reordered', 'ua_avg_reordered'], dtype=object)

In [29]:
df = _df.head()

import re

target = df['target'].values
df.drop('target', axis=1, inplace=True)

id_cols = [col for col in df.columns.values if re.search('_id$', col) is not None]
df.drop(id_cols, axis=1, inplace=True)

cum_cols = [col for col in df.columns.values if re.search('cum', col) is not None]
df['since_last_order'] = df['o_cum_days'] - df['l_cum_days']
df['since_last_aisle'] = df['o_cum_days'] - df['la_cum_days']
df.drop(cum_cols, axis=1, inplace=True)

def normarize(col_name):
    cols = [col for col in df.columns.values if re.search(col_name, col) is not None]
    row_sum = df[cols].sum(axis=1)
    for col in cols:
        df[col] /= row_sum

cols = [col for col in df.columns.values if re.search('u3_order_hour_of_day', col) is not None]
row_sum = df[cols].sum(axis=1)
for col in cols:
    df[col] /= row_sum

normarize('u2_order_dow')
normarize('u3_order_hour_of_day')
normarize('u4_department_id')

normarize('i2_order_dow')
normarize('i3_order_hour_of_day')
normarize('i4_department_id')

df.T

,0,1,2,3,4
o_order_number,62.000000,14.000000,31.000000,67.000000,41.000000
o_order_dow,5.000000,6.000000,5.000000,6.000000,6.000000
o_order_hour_of_day,10.000000,8.000000,16.000000,17.000000,14.000000
o_days_since_prior_order,6.000000,30.000000,2.000000,4.000000,7.000000
u_u1_user_item_cnt,854.000000,72.000000,485.000000,743.000000,485.000000
u_u1_user_order_cnt,61.000000,13.000000,30.000000,66.000000,40.000000
u_u1_max_order_number,61.000000,13.000000,30.000000,66.000000,40.000000
u_u1_avg_days_since_prior_order,5.662708,13.833333,12.974468,6.398649,9.882845
u_u1_avg_reordered,0.827869,0.291667,0.752577,0.570659,0.762887
u_u2_order_dow_0,0.103044,0.000000,0.129897,0.086137,0.016495
u_u2_order_dow_1,0.139344,0.138889,0.028866,0.218035,0.057732
u_u2_order_dow_2,0.029274,0.097222,0.084536,0.215343,0.134021
u_u2_order_dow_3,0.056206,0.250000,0.125773,0.052490,0.222680
u_u2_order_dow_4,0.056206,0.277778,0.051546,0.137281,0.041237
u_u2_order_dow_5,0.265808,0.166667,0.307216,0.118439,0.080412
u_u2_order_dow_6,0.350117,0.069444,0.272165,0.172275,0.447423
u_u3_order_hour_of_day_0,0.000000,0.000000,0.061856,0.000000,0.000000
u_u3_order_hour_of_day_1,0.000000,0.000000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_2,0.000000,0.000000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_3,0.000000,0.000000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_4,0.000000,0.000000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_5,0.000000,0.000000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_6,0.000000,0.125000,0.000000,0.000000,0.000000
u_u3_order_hour_of_day_7,0.084309,0.097222,0.000000,0.012113,0.000000
u_u3_order_hour_of_day_8,0.128806,0.000000,0.000000,0.034993,0.016495
u_u3_order_hour_of_day_9,0.053864,0.083333,0.000000,0.153432,0.035052
u_u3_order_hour_of_day_10,0.031616,0.000000,0.000000,0.181696,0.006186
u_u3_order_hour_of_day_11,0.024590,0.000000,0.090722,0.130552,0.237113
u_u3_order_hour_of_day_12,0.037471,0.027778,0.000000,0.149394,0.030928
u_u3_order_hour_of_day_13,0.119438,0.097222,0.090722,0.154778,0.088660
...,...,...,...,...,...
i_i4_department_id_3,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_4,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_5,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_6,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_7,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_8,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_9,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_10,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_11,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_12,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_13,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_14,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_15,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_16,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_17,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_18,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_19,0.000000,0.000000,0.000000,0.000000,0.000000
i_i4_department_id_20,1.000000,1.000000,1.000000,1.000000,1.000000
i_i4_department_id_21,0.000000,0.000000,0.000000,0.000000,0.000000
ui_cnt_user_item,1.000000,1.000000,2.000000,1.000000,2.000000
ui_max_reordered,0.000000,0.000000,1.000000,0.000000,1.000000
ui_sum_reordered,0.000000,0.000000,1.000000,0.000000,1.000000
ui_avg_reordered,0.000000,0.000000,0.500000,0.000000,0.500000
la_max_order_number,7.000000,13.000000,30.000000,63.000000,28.000000
ua_cnt_user_aisle,2.000000,4.000000,28.000000,17.000000,9.000000
ua_max_reordered,0.000000,1.000000,1.000000,1.000000,1.000000
ua_sum_reordered,0.000000,1.000000,24.000000,11.000000,4.000000
ua_avg_reordered,0.000000,0.250000,0.857143,0.647059,0.444444
since_last_order,252.000000,162.000000,296.000000,33.000000,308.000000
since_last_aisle,252.000000,30.000000,2.000000,24.000000,115.000000

In [40]:
import networkx as nx                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                
G = nx.Graph()
edges = [tuple(x) for x in df_prior[['user_id', 'product_name']].values]                                                                                                                                                                                                               
G.add_edges_from(edges)

In [57]:
map_user_item = {}
for user_id in tqdm(df_prior['user_id'].unique()):
    tmp = []
    for item_id in G[user_id]:
        for user_id2 in G[item_id]:
            for item_id2 in G[user_id2]:
                tmp.append(item_id2)
    map_user_item[user_id] = set(tmp)

KeyboardInterrupt:

In [3]:
df = pd.read_csv('../input/df_prior.csv', usecols=['user_id', 'product_id'])

In [6]:
tmp = df.groupby(['user_id', 'product_id'])['user_id'].count()

In [11]:
tmp.name = 'score'

In [14]:
tmp.reset_index().to_csv('../input/user_item_cnt.csv', index=False)